:root {
   --screenbg: #F2F2F2;
   --boxbg :#F7F7F7;
   --boxshadow : 1vmin 1vmin 0 0 #DDD;
   --colors_green : #01DF74;
   --colors_purple : #BCA9F5;
   --colors_blue : #81DAF5;
   --colors_red : #FA5858;
   --colors_orange : #FAAC58;
   --colors_tan : #F3E2A9;
}

footer
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   margin: 0;
}

html, button, select
{
   font-family: 'Montserrat', sans-serif;
}

shade-box
{
   width: 100%;
   height: 100%;
   overflow: hidden;
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,0.3);
   display: block;
}

cover-box
{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   overflow: hidden;
   margin: 0;
   padding: 5vmin;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   text-align: center;
   z-index: 10;
   background-color: var(--screenbg);
}

