<html>
    <head>

    </head>
    <body>
        <h1>This is old SBS... or what's left of it.</h1>
        <p>All old systems (except kland) are here, reimplemented. Don't know where to look?</p>
        <ul>
            <li><a href="/draw">Echoes of draw.smilebasicsource.com</a></li>
            <li><a href="/sudoku">Agony of randomouscrap98.smilebasicsource.com/sudoku</a></li>
            <li><a href="/chatlog">Cries of scratch.smilebasicsource.com/chatlog/search</a></li>
            <li><a href="/tinycomputer">Whispers of smilebasicsource.com/tinycomputer (no remote program saving/loading)</a></li>
            <li><a href="/animator">Memories of smilebasicsource.com/animator</a></li>
        </ul>
        <p><a href="https://kland.smilebasicsource.com">Kland</a> is still in use at the original location, although slightly crippled.</p>
    </body>
</html>