<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,maximum-scale=1">
        <meta name="rating" content="general">
        <meta name="description" content="Play Sudoku online.">
        <meta name="keywords" content="Sudoku, sudoku, puzzle, puzzles, javascript">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Sudoku on SmileBASIC Source</title>

        <!--Favicons-->
        <!--<link rel="icon" type="image/x-icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96 128x128 192x192 256x256" href="/favicon.ico">-->
        <!--Styles-->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{root}}styles/common.css?v={{appversion}}">
        <link rel="stylesheet" href="{{root}}styles/game.css?v={{appversion}}">
        <link rel="stylesheet" href="{{root}}styles/main.css?v={{appversion}}">

        <!--Scripts-->
        <script src="{{root}}scripts/compatibility.js?v={{appversion}}"></script> <!-- was originally second to last? -->
        <script src="{{root}}scripts/randomous.js?v={{appversion}}"></script> <!-- was originally last? -->
        <script src="{{root}}scripts/extras.js?v={{appversion}}"></script>
        <script src="{{root}}scripts/canvasLibrary.js?v={{appversion}}"></script>
        <script src="{{root}}scripts/animations.js?v={{appversion}}"></script>
        {{#template_game}}
        <script src="{{root}}scripts/options.js?v={{appversion}}"></script>
        <script src="{{root}}scripts/menus.js?v={{appversion}}"></script>
        <script src="{{root}}scripts/game.js?v={{appversion}}"></script>
        <script src="{{root}}scripts/sudoku.js?v={{appversion}}"></script>
        <script src="{{root}}scripts/login.js?v={{appversion}}"></script>
        {{/template_game}}
        {{#template_bgtest}}
        <script src="{{root}}scripts/bgtest.js?v={{appversion}}"></script>
        {{/template_bgtest}}
        {{#template_bgtest}}
        <script src="{{root}}scripts/puzzleconvert.js?v={{appversion}}"></script>
        {{/template_bgtest}}

    </head>
    <body data-username="{{user.username}}" data-uid="{{user.uid}}" data-settings="{{user.jsonoptions}}" data-debug="{{debug}}">
        <header>
        </header>
        <main>
            <login-area>
                <h3>Sudoku Login</h3>
                {{^user.loggedIn}}
                <input type="checkbox" id="loginSwitch">
                <label for="loginSwitch" class="likeButton">Make a new account</label>
                <form id="loginForm">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="password2" placeholder="Confirm Password">
                    <button type="submit" id="loginButton">Login</button>
                </form>
                {{/user.loggedIn}}
                {{#user.loggedIn}}
                <user-name>{{user.username}}</user-name>
                <form id="logoutForm">
                    <input type="hidden" name="logout" value="true">
                    <button type="submit" id="logoutButton">Logout</button>
                </form>
                {{/user.loggedIn}}
            </login-area>

            {{#template_game}}
            <cover-box data-puzzlesets="{{data.puzzleSets}}">
            <canvas id="gameScreen"> </canvas>
            <button-container id="buttons"></button-container>
            <shade-box></shade-box>
            <dialog-box id="dialog"><text-area></text-area><button-area></button-area></dialog-box>
            {{#debug}}
            <fps-counter id="fps"></fps-counter>
            {{/debug}}
            </cover-box>
            {{/template_game}}

            {{#template_bgtest}}
            <cover-box>
            <canvas id="gameScreen"> </canvas>
            {{#data.debug}}
            <fps-counter id="fps"></fps-counter>
            {{/data.debug}}
            </cover-box>
            {{/template_bgtest}}

            {{#template_convert}}
            {{#user.loggedIn}}
            <cover-box>
            <form id="convert">
            <textarea id="convertText" name="convertText"
                placeholder="Type puzzles into here"></textarea>
            <button type="submit">Convert</button>
            </form>
            <form id="submit">
            <textarea id="submitText" name="submitText"
                placeholder="Formatted puzzles come out here" required></textarea>
            <input type="text" name="name" placeholder="Name of puzzle pack" required>
            {{#user.admin}}
            <form-option><input type="checkbox" name="public"> Make Public </form-option>
            {{/user.admin}}
            <button type="submit">Submit</button>
            </form>
            </cover-box>
            {{/user.loggedIn}}
            {{/template_convert}}

        </main>
        <!--<footer>
            <span>Load: {{loadtime}}ms</span>
        </footer>-->
    </body>
</html>